@keyframes pulse {
  25% {
    color: #00EDBC; }
  75% {
    color: #D5D8FF; } }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

a {
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    color: #392392;
    animation: pulse 1s linear infinite; }
